@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Roboto);
body{
    background:#e6eecc url(../images/beige_paper.png);
	background-attachment: fixed;
}

figure { 
	display: inline-block; 
}
video{
        /* video border */
		margin-left:460px;
          border: 1px solid #a3bdc8;
          padding: 20px;
          border-radius: 20px;
          /* tranzitionstransitions applied to the vodeovideo element */
          -moz-transition: all 1s ease-in-out;
          -webkit-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
       }
       /* background color and gradient */
       video, #start, #stop, #pause, #plus, #minus, #mute {
        /* background color */
          background-color: #a3bdc8;
          /* background gradient */
          background-image: linear-gradient(top, #fff, #a3bdc8);
          background-image: -moz-linear-gradient(top, #fff, #a3bdc8);
          background-image: -webkit-linear-gradient(top, #fff, #a3bdc8);
          background-image: -o-linear-gradient(top, #fff, #a3bdc8);
          background-image: -ms-linear-gradient(top, #fff, #a3bdc8);
       }
       /* shadows */
       video, #start, #stop, #pause, #plus, #minus, #mute {
          box-shadow: 0 0 10px #a3bdc8;
       }
       video:hover, video:focus, #start:hover, #stop:hover, #pause:hover, #plus:hover,
       #minus:hover, #mute:hover {
        /* glow */
         box-shadow: 0 0 20px #a3bdc8;
       }
       #controls {
        display: none;
          margin: 10px 30px;
       }
       /* style for  buttons */
       #start, #stop, #pause, #plus, #minus, #mute {
         border: 1px solid #a3bdc8;
          padding: 5px;
          border-radius: 10px;
          width: 60px;
          margin: 0 10px 0 0;
       }
       body{
        /* color tranzitiontransition */
          -webkit-transition: background-color 1s ease-in-out;
          -moz-transition: background-color 1s ease-in-out;
          -o-transition: background-color 1s ease-in-out;
          -ms-transition: background-color 1s ease-in-out;
          transition: background-color 1s ease-in-out;
       /* initial color */
          background-color: #fff;
       }
      #progressbar{
       display: none;
          /* size */
          width: 500px;
          height: 20px;
            /* position and border */
          position: relative;
          border: 1px solid #a3bdc8;
          margin: 10px;
          border-radius: 20px;
           /* background color */
          background-color: #a3bdc8;
          /* background gradient */
          background-image: linear-gradient(top, #fff, #a3bdc8);
          background-image: -moz-linear-gradient(top, #fff, #a3bdc8);
          background-image: -webkit-linear-gradient(top, #fff, #a3bdc8);
          background-image: -o-linear-gradient(top, #fff, #a3bdc8);
          background-image: -ms-linear-gradient(top, #fff, #a3bdc8);
          /* shadow */
           box-shadow: 0 0 10px #a3bdc8;
      }
        #loadingprogress{
         /* border */
          border-radius: 20px;
          /* initial size */
          height: 20px;
          width: 0;
          /* background color */
          background-color: #9acd00;
          /* background gradient */
          background-image: linear-gradient(top, #ffffff, #9acd00);
          background-image: -moz-linear-gradient(top, #ffffff, #9acd00);
          background-image: -webkit-linear-gradient(top, #ffffff, #9acd00);
          background-image: -o-linear-gradient(top, #ffffff, #9acd00);
          background-image: -ms-linear-gradient(top, #ffffff, #9acd00);
        }


#Titre
{
	font-family: Roboto, sans-serif;
	text-align: center;
	margin-top:100px;
	font-size:50px;
	-webkit-font-smoothing: antialiased;
	color: #1b5b83;
}
a.logo {
	display: block;
	width: 182px;

}

img {
	max-width: 100%;
}
.TITLE
{
	margin-top:200px;
	font-size:30px;
	color:#1b5b83;
    text-shadow:1px 1px 1px rgba(255,255,255,0.9);
	margin-left:30px;
}
#paraph
{
	font-size:15px;
	margin-left:1.5em;
	color:#0e2f44;
}
#paraph1
{
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	color:#0e2f44;
}
#paraph2
{
	font-size:15px;
	margin-left:3em;
	font-family: Arial, Helvetica, sans-serif;
	color:#0e2f44;
}
#paraph3
{
	font-size:15px;
	margin-left:6em;
	color:#1b5b83;
	font-family: Arial, Helvetica, sans-serif;
	color:#0e2f44;
}
#paraph4
{
	color:#1b5b83;
	font-family: Arial, Helvetica, sans-serif;
}
#FOOT
{
	font-size:15px;
	color:#1b5b83;
    text-shadow:1px 1px 1px rgba(255,255,255,0.9);
	float:right;
	font-family: Arial, Helvetica, sans-serif;
}
/* je definis ici des tailles pour les div img1, img2, etc afin de pouvoir dŽcaler la photo du haut */

#project, #architecture, #team, #media, #code {
	height: 100px;
}
#espace-bas {
	height: 240px;
}



